# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model & data cache
.cache/
*.pt
*.bin

# Streamlit cache
.streamlit/

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment/secret files
*.env
*.ini
